main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.area-pesquisar {
  width: fit-content;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

label {
  text-align: center;
  font-size: 25px;
  font-family: "Bangers", cursive;
}

input {
  width: 600px;
  height: 100px;
  font-size: 20px;
  border-radius: 15px;
  margin-bottom: 18px;
  background: rgba(117, 112, 112, 0.55);
  border: 2px solid;
  text-align: center;
}

button {
  width: 117px;
  height: 48px;
  border-radius: 10px;
  margin: auto;
  background: rgba(0, 0, 0, 0.21);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  font-family: "bangers", cursive;
}

#imagem-container {
  width: 80%;
  height: fit-content;
  display: flex;
  margin-top: 50px;
  text-align: center;
  /*background-color: blueviolet;*/
}

#imagem-container img{
  width: 400px;
  height: 600px;
  border-radius: 10px;
}

#imagem-container ul {
  width: 400px;
  height: fit-content;
  /*background-color: darkslategrey;*/
  margin-top: 15px;
}

#imagem-container li {
  display: flex;
  gap: 5px;
  padding-bottom: 5px;
}

#imagem-container div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: crimson;*/
}

/* Carousel */
.swiper {
  width: 80%;
  height: fit-content;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /*background: #fff;*/

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}